* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.author__book_header {
  margin-top: 50px;
  text-align: center;
  text-align: center;
  font-family: Cardo;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 54px */
  letter-spacing: -0.9px;
  color: #1B3764;
}

.author_book_container {
  display: flex;
  width: 1299px;
  justify-content: center;
  align-items: flex-start;
  gap: 66px;
  margin-top: 100px;
}
.author_book_container .author_book_card1 {
  width: 292px;
  height: 396px;
  flex-shrink: 0;
  background: #FFF;
  text-align: center;
  position: relative;
  display: flex;
  border: 5px solid #FFF;
}
.author_book_container .author_book_card1 .card1_img {
  position: absolute;
  top: 10px;
  left: 30px;
}
.author_book_container .author_book_card1 .card1_right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 350px;
  padding: 10px;
  text-align: center;
  padding-top: 20px;
}
.author_book_container .author_book_card1 .card1_p {
  margin-top: 10px;
  text-align: center;
  font-family: Cardo;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
  letter-spacing: -0.24px;
  color: #1B3764;
}
.author_book_container .author_book_card1 .card1_h3 {
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 15px */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #1B3764;
}
.author_book_container .author_book_card1 .card1_subp {
  text-align: center;
  font-family: Cardo;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.28px;
  color: #D0A129;
}
.author_book_container .author_book_card1 .card_ul {
  display: flex;
  list-style: none;
}
.author_book_container .author_book_card1 .card_ul li {
  margin-top: 20px;
  margin-left: 30px;
}
.author_book_container .author_book_card1 .card_ul li h1 {
  font-family: Cardo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.24px;
  color: #1B3764;
}
.author_book_container .author_book_card1 .card_ul li p {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.18px;
  color: #969AA0;
}
.author_book_container .author_book_card1 .card1_right_header {
  font-family: Cardo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.64px;
  color: #1B3764;
}
.author_book_container .author_book_card1 .card1_right_p {
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
  color: #969AA0;
  height: 94px;
  width: 262px;
}
.author_book_container .author_book_card2 {
  width: 292px;
  height: 396px;
  flex-shrink: 0;
  background: #FFF;
  border: 12px solid #DBE1E9;
  margin-left: 250px;
  text-align: center;
  display: flex;
}
.author_book_container .author_book_card2 .card2_left {
  padding: 20px;
}
.author_book_container .author_book_card2 .card2_left_header {
  height: 80.77px;
  flex-shrink: 0;
  width: 229.997px;
  text-align: center;
  font-family: Lexend;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 38.5px */
  letter-spacing: 1.75px;
  color: #1B3764;
}
.author_book_container .author_book_card2 .card2_left_p {
  height: 31px;
  flex-shrink: 0;
  width: 242px;
  text-align: center;
  font-family: Cardo;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: 160%; /* 16px */
  letter-spacing: -0.1px;
  color: #1B3764;
}
.author_book_container .author_book_card2 .card2_left_img {
  height: 160px;
  width: 145px;
}
.author_book_container .author_book_card2 .card2_left_subheader {
  line-height: 125%; /* 18.75px */
  text-align: center;
  font-family: Cardo;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  color: #1B3764;
}
.author_book_container .author_book_card2 .card2_left_subp {
  text-align: center;
  font-family: Cardo;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: 170%; /* 17px */
  letter-spacing: -0.1px;
  color: #1B3764;
}
.author_book_container .author_book_card2 .card2_right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 350px;
  padding: 10px;
  text-align: center;
  padding-top: 20px;
}
.author_book_container .author_book_card2 .card2_right .card1_right_header {
  font-family: Cardo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.64px;
  color: #1B3764;
}
.author_book_container .author_book_card2 .card2_right .card1_right_p {
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
  color: #969AA0;
  height: 94px;
  width: 262px;
}
.author_book_container .author_book_card2 .card2_right .card_ul {
  display: flex;
  list-style: none;
}
.author_book_container .author_book_card2 .card2_right .card_ul li {
  margin-top: 20px;
  margin-left: 30px;
}
.author_book_container .author_book_card2 .card2_right .card_ul li h1 {
  font-family: Cardo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.24px;
  color: #1B3764;
}
.author_book_container .author_book_card2 .card2_right .card_ul li p {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.18px;
  color: #969AA0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.about {
  margin: 0px auto;
  margin-top: 200px;
  display: flex;
  width: 1299.776px;
  align-items: center;
  gap: 142px;
  display: flex;
}
.about .about_img_container {
  height: 650px;
  flex-shrink: 0;
  border: 12px solid #FFCA42;
  width: 550px;
  margin-left: 50px;
  position: relative;
}
.about .about_img_container .about_img {
  position: absolute;
  top: -40px;
  left: -40px;
}
.about .about_content_header {
  font-family: Cardo;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 54px */
  letter-spacing: -0.9px;
  color: #1B3764;
}
.about .about_content_p {
  width: 567px;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
  height: 128px;
  color: #969AA0;
}
.about .content_numbers_container {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.about .content_numbers_container .content_number1 {
  border-left: 5px solid yellow;
  border-right: 5px solid yellow;
  padding: 10px;
  width: 140px;
}
.about .content_numbers_container .content_number1 h1 {
  font-family: Cardo;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 66px */
  letter-spacing: -1.1px;
  color: #1B3764;
}
.about .content_numbers_container .content_number1 p {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.18px;
  color: #969AA0;
}
.about .content_numbers_container .content_number {
  padding: 10px;
}
.about .content_numbers_container .content_number h1 {
  font-family: Cardo;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 66px */
  letter-spacing: -1.1px;
  color: #1B3764;
}
.about .content_numbers_container .content_number p {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.18px;
  color: #969AA0;
}
.about .qr_container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  height: 160px;
  padding: 15px 18px;
  background: #1B3764;
  gap: 30px;
}
.about .qr_container .qr_name {
  font-family: Cardo;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  letter-spacing: -0.44px;
  color: #FFCA42;
}
.about .qr_container .qr_contact {
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
  color: #B4C7E7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.trusted-by {
  margin-top: 100px;
  margin-bottom: 100px;
}
.trusted-by .trusted-by-header {
  text-align: center;
  font-family: Cardo;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 54px */
  letter-spacing: -0.9px;
  color: #1B3764;
}
.trusted-by .trusted-by-container {
  display: flex;
  justify-content: center;
  width: 1299px;
  align-items: flex-start;
  gap: 97px;
  margin: 0px auto;
  margin-top: 100px;
  gap: 97px;
}
.trusted-by .trusted-by-container .trusted-by-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
}
.trusted-by .trusted-by-container .trusted-by-card .card-header {
  text-align: center;
  font-family: Cardo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.24px;
  color: #1B3764;
}
.trusted-by .trusted-by-container .trusted-by-card .card-p {
  width: 252px;
  height: 58px;
  flex-shrink: 0;
  color: #969AA0;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.18px;
}
.trusted-by .card-img1 {
  margin: 0px auto;
  height: 88.985px;
  flex-shrink: 0;
  width: 95.22px;
}
.trusted-by .card-img2 {
  margin: 0px auto;
  height: 75.149px;
  flex-shrink: 0;
  width: 188.817px;
}
.trusted-by .card-img3 {
  margin: 0px auto;
  height: 88.417px;
  flex-shrink: 0;
  width: 140.89px;
}
.trusted-by .card-img4 {
  margin: 0px auto;
  height: 99.77px;
  flex-shrink: 0;
  width: 99.77px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
